.form-container {
  display: flex;
  margin: 0;
  padding: 10px;
}

.form-container > input {
  flex-grow: 1;
  width: 240px;
  height: 36px;
  border: 1px solid #888;
  outline: none;
  font-size: 16px;
  padding: 0 12px;
}

.form-container > button {
  border: 1px solid #888;
  color: #444;
  background: #fff;
  outline: none;
  margin-left: 6px;
}

.form-container > button:hover {
  border: 1px solid darkgreen;
  color: darkgreen;
  opacity: 0.8;
}

.form-container > button.is-loading {
  cursor: not-allowed;
  border: 1px solid #888;
  color: #444;
  opacity: 0.5;
}

.current-state {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  height: 36px;
  padding: 0 18px;
  background: deepskyblue;
  opacity: 0.8;
  border-radius: 18px;
  font-size: 12px;
}

.words-container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.word-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  min-height: 60px;
  font-size: 24px;
  background: #eee;
  font-family: serif;
  font-style: italic;
  border: 1px solid #888;
  cursor: pointer;
}

.word-card:hover {
  border: 1px solid #333;
}

.word-card + .word-card {
  margin-left: 4px;
}

.word-card:nth-child(2n) {
  flex-grow: 1;
}

.word-full-card {
  margin: 10px;
  background: #eee;
  border: 1px solid #aaa;
  padding: 10px 20px;
  font-family: serif;
  font-style: italic;
  cursor: pointer;
}

.word-full-card > .title {
  margin: 10px 0;
  font-size: 36px;
  font-weight: bold;
}

.word-full-card > .desc {
  font-size: 16px;
} 

.loading-spin {
  text-align: center;
  font-size: 16px;
  color: #444;
}
